[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
streamlit = "*"
h3pandas = "*"
branca = "*"
streamlit-authenticator = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.11"
