[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
streamlit = "*"
h3pandas = "*"
branca = "*"
streamlit-authenticator = "*"
h3converter = "*"
folium = "*"
streamlit-folium = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.11"
