/* navbar.css */
.geocoding-form {
    position: relative;
    font-size:  clamp(10px, 3vh, 80px);
    margin : 0 auto;
  }
  
  .suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 1000;
    max-height: 35vh;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size:  clamp(10px, 3vh, 80px);;
  }
  
  .suggestions-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions-list li:hover {
    background-color: #f0f0f0;
  }
.form-control{
    font-size:  clamp(10px, 3vh, 80px);
    width: 100%;
    margin: 0 auto;
  }
  
  .geocoding-form button {
    font-size:  clamp(10px, 3vh, 80px);
    width: 100%;
    margin: 0 auto;
}