.card{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 3vh;
    padding: 3vh;
    transition: all 0.3s;
    min-height: 20vh;
}
.card-title{
    font-size: clamp(10px, 3vh, 80px);
    font-weight: 600;
    margin-bottom: 10px;
}