.custom-dropdown {
   font-size: 3vh;
    width: 100%;
    margin: 0 auto;
  }
  
  .custom-dropdown-toggle {
    width: 100%;
   font-size: 3vh;

    display: flex;
    justify-content: space-between;
  }
  
  .custom-dropdown-menu {
   font-size: 3vh;
    width: 100%;
  }